@import "tailwindcss";

@theme {
	--color-beige-500: #98908b;
	--color-beige-100: #f8f4f0;
	--color-grey-900: #201f24;
	--color-grey-500: #696868;
	--color-grey-300: #b3b3b3;
	--color-grey-100: #f2f2f2;
	--color-secondary-green: #277c78;
	--color-secondry-yellow: #f2cdac;
	--color-secondary-cyan: #82c9d7;
	--color-secondary-navy: #626070;
	--color-secondary-red: #c94736;
	--color-secondary-purple: #826cb0;
	--color-other-purple: #af81ba;
	--color-other-turquoise: #597c7c;
	--color-other-brown: #93674f;
	--color-other-magenta: #934f6f;
	--color-other-blue: #3f82b2;
	--color-other-navy-green: #97a0ac;
	--color-other-army-green: #7f9161;
	--color-other-gold: #cab361;
	--color-other-orange: #be6c49;
	--color-white: #ffffff;
	--font-public-sans: "Public Sans", sans-serif;
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-250: 20px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
	--radius-8: 8px;
	--radius-16: 16px;
	--radius-12: 12px;
}

body {
	@apply font-public-sans;
}

@layer base {
	h1 {
		@apply text-[32px] leading-[120%] font-bold;
	}
	h2 {
		@apply text-[20px] leading-[120%] font-bold;
	}
	h3 {
		@apply text-base leading-[150%] font-bold;
	}
	h4 {
		@apply text-[14px] leading-[150%] font-normal;
	}

	/* Add separate rule with !important */
	h4.bold {
		@apply font-bold;
	}

	h5 {
		@apply text-[12px] leading-[150%] font-normal;
	}

	h5.bold {
		@apply font-bold;
	}
}
@layer components {
	.btn-primary {
		@apply bg-grey-900 hover:bg-grey-500 text-white rounded-8 p-4 transition-all;
	}
	.btn-secondary {
		@apply text-grey-900 bg-beige-100 p-4 rounded-8 transition-all border border-transparent hover:border-beige-500;
	}
	.btn-tertiary {
		@apply text-grey-500 hover:text-grey-900 transition-all;
	}
	.screen-layout {
		@apply my-6 mx-4 md:my-8 md:mx-10 w-full mb-[60px] md:mb-[85px] lg:mb-0;
	}
	.drop-shadow {
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	}
}
